.book-logo {
  height: 200px;
  display: block;
  margin: 0 auto;
}
.app-header {
  margin: 20px;
}
h1 {
  text-align: center;
}

footer {
  font-size: 15px;
}

main {
  text-align: center;
}
footer {
  margin-top: 20px;
  text-align: center;
}
