.sova-logo {
  height: 200px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

main {
  text-align: center;
  background-color: #b7cadb;
  border-radius: 20px;
}
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
