.sova-logo {
  height: 200px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

main {
  text-align: center;
  background-color: #f3e9dd;
  border-radius: 20px;
}
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  background-color: ;
}
