.Dictionary section {
  margin: 10px;
  padding: 10px;
}
.Form {
  border: 3px solid #b7cadb;
  padding: 10px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  color: #7e8a96;
  margin-top: 20px;
}
input[type="search"]:focus {
  outline: none;
  border-color: #96a7b6;
}

body {
  font-family: "Josefin Sans", sans-serif;

  font-size: 20px;
}
a {
  text-decoration: none;
  color: #a4bfd6;
  font-weight: bolder;
}

a:hover {
  color: #b2b8a3;
}
.Example {
  font-size: 20px;
  color: #748a9c;
}
.Definitions {
  padding: 5px;
  margin-left: 10px;
}

.Synonyms {
  list-style: none;
  font-weight: bolder;
  color: #a4bfd6;
}
.Synonyms h2 {
  color: black;
}
