.Dictionary section {
  margin: 10px;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, 2%);
  background-color: #f3e9dd;
}
.Form {
  border: 3px solid #b7cadb;
  padding: 10px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  color: #7e8a96;
  margin: 10px;
}
input[type="search"]:focus {
  outline: none;
  border-color: #96a7b6;
}

body {
  font-family: "Josefin Sans", sans-serif;

  font-size: 20px;
}
a {
  text-decoration: none;
  color: #a4bfd6;
  font-weight: bolder;
}

a:hover {
  color: #b2b8a3;
}
.Phonetics a {
  border: 1px solid #b2b8a3;
  color: white;
  background-color: #b2b8a3;
  padding: 6px;
  margin: 4px;
  border-radius: 20px;
}

.Phonetics a:hover {
  border: 1px solid #b2b8a3;
  color: white;
  background-color: #89745e;
  padding: 6px;
  margin: 4px;
  border-radius: 20px;
}
.Phonetics {
  margin: 10px;
}
.Example {
  font-size: 20px;
  color: #a4bfd6;
  font-weight: 600;
}
.Definitions {
  padding: 5px;
  margin-left: 10px;
}

.Synonyms {
  list-style: none;
  font-weight: bolder;
  color: #a4bfd6;
}
.Synonyms h2 {
  color: black;
}
